{% extends "network/layout.html" %}

{% block body %}
<section class="hero is-primary is-large">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-9-tablet is-8-desktop is-7-widescreen">
                    <nav class="pagination is-right is-rounded" role="navigation" aria-label="pagination">
                        {% if page_obj.has_previous %}
                        <a class="pagination-previous has-background-white has-text-black-ter is-flex-grow-0"
                            href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                        <a class=" pagination-next has-background-white has-text-black-ter is-flex-grow-0"
                            href="?page={{ page_obj.next_page_number }}">Next page</a>
                        {% endif %}
                    </nav>
                    {% for post in page_obj %}
                    <article class="media box">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <a href="{% url 'profile_detail' post.author.id %}">
                                        <strong>{{ post.author }}</strong>
                                    </a>
                                    <br>
                                    {{ post.content}}
                                    <br>
                                    <small><a>Like</a> · <a>Dislike</a></small><small class="is-pulled-right">
                                        {{ post.timestamp }}</small>
                                </p>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="tag is-small">{{ post.likes }}</span>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}